{% load static %}

<div class="gallery-slide flex" style="height: 10rem;">
    
    {% for image in 'images' %}
        <div class="">
            <img src="{% static 'images/sample/225x150/image_01.jpg' %}">
        </div>
    {% endfor %}
        
</div>