{% extends 'base.html' %}


{% block content %}

<!-- slider -->
<ul class="slider">
	
	{% for image in slideshow %}
		<li style="background-image: url('{{image.url}}');">
			&nbsp;
		</li>
	{% empty %}
		<li style="background-image: url('/static/images/slider/img1.jpg');">
			&nbsp;
		</li>
		<li style="background-image: url('/static/images/slider/img2.jpg');">
			&nbsp;
		</li>
		<li style="background-image: url('/static/images/slider/img3.jpg');">
			&nbsp;
		</li>
	{% endfor %}		
	
</ul>
<div class="page relative noborder">
	<div class="slider_content_box clearfix">
		
		{% for content in slideshow %}
			<div class="slider_content" style="display: block;">
				<h1 class="title">
					{{content.heading}}
				</h1>
				<h2 class="subtitle">
					{{content.sub_heading}}
				</h2>
			</div>
		{% empty %}
			<div class="slider_content" style="display: block;">
				<h1 class="title">
					Top notch<br />experience
				</h1>
				<h2 class="subtitle">
					House of Dentistry is the best for you
				</h2>
			</div>
			<div class="slider_content">
				<h1 class="title">
					Show your<br />
					schedule
				</h1>
				<h2 class="subtitle">
					Book and Organize your visits<br />
					with build-in timetable
				</h2>
			</div>
			<div class="slider_content">
				<h1 class="title">
					Enjoy<br />
					The best
				</h1>
				<h2 class="subtitle">
					Modern Tech<br />
					qualified staff
				</h2>
			</div>			
		{% endfor %}
			
		
		<!--<div class="slider_navigation">
			<div class="slider_bar"></div>
			<a class="slider_control" id="slide_1_control" href="#" title="1">
				<span class="top_border"></span>
				<span class="slider_control_bar"></span>
				1
			</a>
			<a class="slider_control" id="slide_2_control" href="#" title="2">
				<span class="top_border"></span>
				<span class="slider_control_bar"></span>
				2
			</a>
			<a class="slider_control" id="slide_3_control" href="#" title="3">
				<span class="top_border"></span>
				<span class="slider_control_bar"></span>
				3
			</a>
		</div>-->
	</div>
	<!-- home box -->
	<ul class="home_box_container clearfix">
		
		{% for msg in help_box %}
			<li class="home_box light_blue animated_element animation-fadeIn duration-500">
				<h2>
					<a title="{{msg.heading}}">
						{{msg.heading}}
					</a>
				</h2>
				<div class="news clearfix">
					<p class="text">
						{{ msg.content }}
					</p>
				</div>
			</li>
		{% empty %}
			
		{% endfor %}
		<li class="home_box dark_blue animated_element animation-slideRight200 duration-800 delay-500">
			<h2>
				Opening Hours
			</h2>
			<ul class="items_list thin dark_blue opening_hours">
				
				{% for open in opening_hours %}
					<li class="clearfix">
						<span>
							{{open.period}}
						</span>
						<div class="value">
							{{open.opening}} - {{open.closing}}
						</div>
					</li>
				{% endfor %}
			</ul>
		</li>
    </ul>
    <div class="cleafix" style="background-color: white;">
        <div class="row"  style="text-align: center; padding: 3em 1em 2em 1em;">
            <div class="card">
                <div class="details_box">
                    <h1>
                        {{welcome.heading}}
                    </h1>
                    <p>
						{{welcome.content}}
                    </p>
                </div>
            </div>            
        </div>
    </div>
	<div class="clearfix">
		<div class="columns clearfix no_width page_margin_top_section">
			<div style="padding: 4em; text-align:center;">
				<h1 class="box_headers">Our Services</h1>
			</div>
			<ul class="column_left">				
				{% for service in services_left %}
					<li class="item_content clearfix">
						<a class="features_image" href="index.html%3Fpage=home_2.html#" title="">
							<img src="{{MEDIA_URL}}{{service.img.url}}" alt="{{service.title}}" class="animated_element animation-scale" />
						</a>
						<div class="text">
							<h3>{{service.heading}}</h3>
							<p>
								{{service.content}}
							</p>
							<div class="item_footer clearfix">
								<a title="Read more" href="{% url service.get_absolute_url %}" class="more">
									Read more &rarr;
								</a>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
			<ul class="column_right">
				{% for service in services_right %}
					<li class="item_content clearfix">
						<a class="features_image" href="index.html%3Fpage=home_2.html#" title="">
							<img src="{{MEDIA_URL}}{{service.img.url}}" alt="{{service.title}}" class="animated_element animation-scale" />
						</a>
						<div class="text">
							<h3>{{service.heading}}</h3>
							<p>
								{{service.content}}
							</p>
							<div class="item_footer clearfix">
								<a title="Read more" href="{% url service.get_absolute_url %}" class="more">
									Read more &rarr;
								</a>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="clearfix page_margin_top_section">
			<div class="header_left">
				<h3 class="box_header">
					Our Clinic in Pictures
				</h3>
			</div>
			<div class="header_right">
				<a href="index.html%3Fpage=home_2.html#" id="our_clinic_prev" class="scrolling_list_control_left icon_small_arrow left_black"></a>
				<a href="index.html%3Fpage=home_2.html#" id="our_clinic_next" class="scrolling_list_control_right icon_small_arrow right_black"></a>
			</div>
		</div>
		<ul class="gallery horizontal_carousel our_clinic">
			{% for image in clinic_images %}
				<li class="gallery_box">
					<img src="{{image.url}}" alt="" />
						
					<div class="description">
						<h3>
							{{image.category}}
						</h3>
						<h5>
							{{image.caption}}
						</h5>
					</div>
					<ul class="controls">
						<li>
							<a href="{{image.url}}" rel="our_clinic" class="fancybox open_lightbox"></a>
						</li>
					</ul>
				</li>
			{% endfor %}
		</ul>
		<div class="announcement page_margin_top_section clearfix">
			<ul class="columns no_width">
				<li class="column_left">
					<h1>Book your appointment today!</h1>
					<p>Our online appointment booker will help you select an available times. 
					   This will help you save time by being served upon arrival and not spending too much time queuing. 
					</p>
				</li>
				<li class="column_right">
					<div class="vertical_align">
						<div class="vertical_align_cell">
							<a title="Make an Appointment" href="index.html%3Fpage=contact.html" class="more blue medium animated_element animation-slideLeft">Make an Appointment</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
    </div>
    <div class="page_layout page_margin_top_section clearfix">
            <div class="page_left">
                <h3 class="box_header">
                    From The Blog
                </h3>
                <div class="columns clearfix">
                    <ul class="blog column_left">
						<li class="post">
							<ul class="comment_box clearfix">
								<li class="date animated_element animation-slideDown">
									<div class="value">{{blog_1.date_published}}</div>
									<div class="arrow_date"></div>
								</li>
								<li class="comments_number animated_element animation-slideLeft duration-300 delay-500">
									<a href="index.html%3Fpage=post.html#comments_list" title="2 comments">
										{{blog_1.comments_count}}
									</a>
								</li>
							</ul>
							<div class="post_content">
								<a class="post_image" href="index.html%3Fpage=post.html" title="Lorem ipsum dolor sit amat velum">
									<img src="images/samples/480x300/image_03.jpg" alt="" />
								</a>
								<h2>
									<a href="index.html%3Fpage=post.html" title="Lorem ipsum dolor sit amat velum">
										{{blog_1.title}}
									</a>
								</h2>
								<p>
									{{blog_1.content}}
								</p>
								<div class="post_footer">
									<ul class="post_footer_details">
										<li>Posted in </li>
										
										{% for category in blog_1.categories %}
											<li>
												<a href="#" title="{{General}}">
													{{category}},
												</a>
											</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</li>	
					</ul>
					<ul class="blog column_left">
						<li class="post">
							<ul class="comment_box clearfix">
								<li class="date animated_element animation-slideDown">
									<div class="value">{{blog_2.date_published}}</div>
									<div class="arrow_date"></div>
								</li>
								<li class="comments_number animated_element animation-slideLeft duration-300 delay-500">
									<a href="index.html%3Fpage=post.html#comments_list" title="2 comments">
										{{blog_2.comments_count}}
									</a>
								</li>
							</ul>
							<div class="post_content">
								<a class="post_image" href="index.html%3Fpage=post.html" title="Lorem ipsum dolor sit amat velum">
									<img src="images/samples/480x300/image_03.jpg" alt="" />
								</a>
								<h2>
									<a href="index.html%3Fpage=post.html" title="Lorem ipsum dolor sit amat velum">
										{{blog_2.title}}
									</a>
								</h2>
								<p>
									{{blog_2.content}}
								</p>
								<div class="post_footer">
									<ul class="post_footer_details">
										<li>Posted in </li>
										
										{% for category in blog_2.categories %}
											<li>
												<a href="#" title="{{General}}">
													{{category}},
												</a>
											</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</li>	
					</ul>
                </div>
                <div class="show_all clearfix">
                    <a class="more" href="{% url 'blogs:blogs'}" title="Show all">
                        Show all &rarr;
                    </a>
                </div>
            </div>
            <div class="page_right">
                <h3 class="box_header">
                    Make An Appointment
                </h3>
                <p class="info">
					Contact us using the forums below
                </p>
                <ul class="contact_data">
                    <li class="clearfix">
                        <span class="social_icon form"></span>
                        <p class="value">
                            or <a href="#" title="Contact form">fill in the form</a> on our contact page
                        </p>
                    </li>
                </ul>
                <ul class="contact_data page_margin_top">
                    <li class="clearfix">
                        <span class="social_icon phone"></span>
                        <p class="value">
                            Phone: <strong>{{contact.phone}}</strong>
                        </p>
                    </li>
                    <li class="clearfix">
                        <span class="social_icon mail"></span>
                        <p class="value">
                            E-mail: <a href="mailto:{{contact.email}}">{{contact.email}}</a>
                        </p>
                    </li>
                    <li class="clearfix">
                        <span class="social_icon facebook"></span>
                        <p class="value">
                            <a href="http://facebook.com/{{contact.facebook}}" title="Facebook" target="_blank">{{contact.facebook}}</a>
                        </p>
                    </li>
                    <li class="clearfix">
                        <span class="social_icon twitter"></span>
                        <p class="value">
                            <a href="http://twitter.com/{{contact.twitter}}" title="Twitter" target="_blank">{{contact.twitter}}</a>
                        </p>
                    </li>
                    <li class="clearfix">
                        <span class="social_icon googleplus"></span>
                        <p class="value">
                            <a href="mailto:{{contact.gmail}}" title="Twitter" target="_blank">{{contact.gmail}}</a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
</div>		

    

{% endblock content %}

{% block custom_js %}
    <script>
        $(document).ready(function(){
            $('#home').addClass("selected")
        })
    </script>
{% endblock custom_js %}
    
