{% extends 'base.html' %}
{% load static %}


{% block content %}
    {% include 'home/includes/slideshow.html' %}
    <div class="cont" style="
        background-color:#F8F8F8;
        padding-left: 12rem;
        padding-right: 12rem;
        ">
        <!-- Welcome -->
        <div class="welcome" style="text-align: center;padding: 4em;background-color: rgb(255, 255, 255);">
            <h1>welcome to House of Dentistry</h1>
            <p>
                Welcome to your preffered Dental clinic with the best care and facilities
            </p>
        </div>
        <!-- End-Welcome -->

        <!-- Services -->
        <div class="row services center" style="padding: 2em 0; ">
            <div class="col-md-12" style="margin-bottom: 2em;">
                <h1>Our Services</h1>
            </div>
            
            {% for service in 'services' %}
                <div class="service col-md-6" style="font-size: .8em; margin-bottom: 3em;;">
                    <div class="row" style="height: 7rem;">
                        <div class="col-md-3" style="overflow: hidden;">
                            <img src="{% static 'images/samples/225x150/image_01.jpg' %}" 
                                 style="height: 7rem;">
                        </div>
                        <div class="col-md-9 left justify" style="position: relative;">
                            <p>
                                Donec ipsum diam, pretium mollis dapibus risus. Nullam dolor nibh pulvinar at interdum 
                                eget, suscipit id felis. Pellentesque est faucibus tincidunt risus.
                            </p>
                            <a href="" style="position:absolute; bottom:0;left:1rem">Read More...</a>                        
                        </div>
                    </div>                
                </div>
            {% empty %}
            <div class="service col-md-6" style="font-size: .8em; margin-bottom: 3em;;">
                    <div class="row" style="height: 7rem;">
                        <div class="col-md-3" style="overflow: hidden;">
                            <img src="{% static 'images/samples/225x150/image_01.jpg' %}" 
                                 style="height: 7rem;">
                        </div>
                        <div class="col-md-9 left justify" style="position: relative;">
                            <p>
                                Donec ipsum diam, pretium mollis dapibus risus. Nullam dolor nibh pulvinar at interdum 
                                eget, suscipit id felis. Pellentesque est faucibus tincidunt risus.
                            </p>
                            <a href="" style="position:absolute; bottom:0;left:1rem">Read More...</a>                        
                        </div>
                    </div>                
                </div>
            {% endfor %}
        </div>
        <!-- End-Services -->

        <!-- Gallery -->
        <div class="gallery-slide flex" style="padding: 2em 0;">
            {% for image in 'imagessss' %}
                <div style="padding: 1em;min-width: 10em;">
                    <img src="{% static 'images/samples/225x150/image_04.jpg' %}">
                </div>
            {% endfor %}
        </div>
        <!-- end-Gallery -->

        <!-- Notice -->
        <div class="notice" style="background-color: #F0F0F0;padding: 2em; margin-bottom: 2em;">
            Welcome
        </div>
        <!-- End-Notice -->

        <!-- Blogs -->
        <div class="row blogs">
            
            {% for blog in 'xxx' %}
                <div class="col-md-4" style="position: relative;font-size: 12px; margin-bottom: 3em;">
                    <div class="flex">
                        <div style="background-color:indigo; color:white; padding: 2px 5px;"><b>12 DEC 2019</b></div> 
                        <div style="background-color:rgb(129, 165, 233); color:white; padding: 2px 5px;"><b>5</b></div>
                    </div>        
                    
                    <img src="{% static 'images/samples/225x150/image_04.jpg' %}" alt="" style="width: 100%;">
                    <h3 style="margin: 1em 0;">Blog Sample Title</h3>
                    <p class="justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Ut volutpat rutrum eros sit amet sollicitudin. Suspendisse pulvinar, 
                            velit nec pharetra interdum, ante tellus ornare mi, et mollis tellus 
                            neque vitae elit. Mauris adipiscing mauris. 
                    </p>
                    <a href="">Read More...</a>
                    <hr>
                </div>
            {% endfor %}
                
            
        </div>
        <!-- End-Blogs -->
    </div>
    
{% endblock content %}
    