div {
    /* border: 1px solid grey; */
    overflow: hidden;
}
.shadow-text {
    text-shadow: 2px 2px black;
}
.bordered {
    border: 1px solid grey;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.justify {
    text-align: justify;
}
.flex {
    display: flex;
}
.navbar {
    height: 6em;
    /* border: 1px solid grey; */
}
.navbar .nav-link {
    /* border: 1px solid black; */
    text-transform: uppercase;
    color: gray;
}
.navbar .active {
    background-color: blue;
    color: white;
}
.navbar .nav-link:hover {
    border: 1px solid rgb(207, 206, 206);
    border-bottom: none;
    transition:none; 
}

/* SlideShow */
.slide-show {
    width: 100%;
}
