{% extends 'base.html' %}


{% block content %}

<div class="page relative">
        <div class="page_layout page_margin_top clearfix">
            <div class="page_header clearfix">
                <div class="page_header_left">
                    <h1 class="page_title">Blog</h1>
                    <ul class="bread_crumb">
                        <li>
                            <a href="{% url 'home:home' %}" title="Home">
                                Home
                            </a>
                        </li>
                        <li class="separator icon_small_arrow right_gray">
                            &nbsp;
                        </li>
                        <li>
                            Blog
                        </li>
                    </ul>
                </div>
                <div class="page_header_right">
                    <form class="search">
                        <input class="search_input" type="text" value="To search type and hit enter..." placeholder="To search type and hit enter..." />
                    </form>
                </div>
            </div>
            <div class="page_left">
                <ul class="blog clearfix">
                    
                    {% for blog in blogs in  %}
                    <li class="post">
                            <ul class="comment_box">
                                <li class="date clearfix animated_element animation-slideRight">
                                    <div class="value">12 DEC 12</div>
                                    <div class="arrow_date"></div>
                                </li>
                                <li class="comments_number animated_element animation-slideUp duration-300 delay-500">
                                    <a href="index.html%3Fpage=post.html#comments_list" title="2 comments">
                                        2 comments
                                    </a>
                                </li>
                            </ul>
                            <div class="post_content">
                                <a class="post_image" href="index.html%3Fpage=post.html" title="Lorem ipsum dolor sit amat velum">
                                    <img src="images/samples/520x240/image_03.jpg" alt="" />
                                </a>
                                <h2>
                                    <a href="index.html%3Fpage=post.html" title="Lorem ipsum dolor sit amat velum">
                                        Lorem ipsum dolor sit amat velum
                                    </a>
                                </h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat rutrum eros amet sollicitudin interdum. 
                                    Suspendisse pulvinar, velit nec pharetra interdum, ante tellus ornare mi, et mollis tellus neque vitae elit. 
                                    Mauris adipiscing mauris fringilla turpis interdum sed pulvinar nisi malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                                <p>
                                    Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula. Mauris sit amet neque nec nunc gravida.
                                </p>
                                <a title="Read more" href="index.html%3Fpage=post.html" class="more">
                                    Read more &rarr;
                                </a>
                                <div class="post_footer clearfix">
                                    <ul class="post_footer_details">
                                        <li>Posted in </li>
                                        <li>
                                            <a href="index.html%3Fpage=blog.html#" title="General">
                                                General,
                                            </a>
                                        </li>
                                        <li>
                                            <a href="index.html%3Fpage=blog.html#" title="Dental clinic">
                                                Dental clinic
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="post_footer_details">
                                        <li>Posted by </li>
                                        <li>
                                            <a href="index.html%3Fpage=blog.html#" title="John Doe">
                                                John Doe
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="post_footer_details">
                                        <li>Post type </li>
                                        <li>
                                            <a href="index.html%3Fpage=blog.html#" title="Image">
                                                Image
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                        
                    <li class="post">
                        <ul class="comment_box">
                            <li class="date clearfix animated_element animation-slideRight">
                                <div class="value">12 DEC 12</div>
                                <div class="arrow_date"></div>
                            </li>
                            <li class="comments_number animated_element animation-slideUp duration-300 delay-500">
                                <a href="index.html%3Fpage=post.html#comments_list" title="2 comments">
                                    2 comments
                                </a>
                            </li>
                        </ul>
                        <div class="post_content">
                            <a class="post_image" href="index.html%3Fpage=post.html" title="Lorem ipsum dolor sit amat velum">
                                <img src="images/samples/520x240/image_03.jpg" alt="" />
                            </a>
                            <h2>
                                <a href="index.html%3Fpage=post.html" title="Lorem ipsum dolor sit amat velum">
                                    Lorem ipsum dolor sit amat velum
                                </a>
                            </h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat rutrum eros amet sollicitudin interdum. 
                                Suspendisse pulvinar, velit nec pharetra interdum, ante tellus ornare mi, et mollis tellus neque vitae elit. 
                                Mauris adipiscing mauris fringilla turpis interdum sed pulvinar nisi malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                            <p>
                                Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula. Mauris sit amet neque nec nunc gravida.
                            </p>
                            <a title="Read more" href="index.html%3Fpage=post.html" class="more">
                                Read more &rarr;
                            </a>
                            <div class="post_footer clearfix">
                                <ul class="post_footer_details">
                                    <li>Posted in </li>
                                    <li>
                                        <a href="index.html%3Fpage=blog.html#" title="General">
                                            General,
                                        </a>
                                    </li>
                                    <li>
                                        <a href="index.html%3Fpage=blog.html#" title="Dental clinic">
                                            Dental clinic
                                        </a>
                                    </li>
                                </ul>
                                <ul class="post_footer_details">
                                    <li>Posted by </li>
                                    <li>
                                        <a href="index.html%3Fpage=blog.html#" title="John Doe">
                                            John Doe
                                        </a>
                                    </li>
                                </ul>
                                <ul class="post_footer_details">
                                    <li>Post type </li>
                                    <li>
                                        <a href="index.html%3Fpage=blog.html#" title="Image">
                                            Image
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="post">
                        <ul class="comment_box clearfix">
                            <li class="date clearfix animated_element animation-slideRight">
                                <div class="value">11 DEC 12</div>
                                <div class="arrow_date"></div>
                            </li>
                            <li class="comments_number animated_element animation-slideUp duration-300 delay-500">
                                <a href="index.html%3Fpage=post.html#comments_list" title="8 comments">
                                    8 comments
                                </a>
                            </li>
                        </ul>
                        <div class="post_content">
                            <a class="post_image" href="index.html%3Fpage=post.html" title="Lorem ipsum dolor sit amat velum">
                                <img src="images/samples/520x240/image_08.jpg" alt="" />
                            </a>
                            <h2>
                                <a href="index.html%3Fpage=post.html" title="Lorem ipsum dolor sit amat velum">
                                    Lorem ipsum dolor sit amat velum
                                </a>
                            </h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat rutrum eros amet sollicitudin interdum. 
                                Suspendisse pulvinar, velit nec pharetra interdum, ante tellus ornare mi, et mollis tellus neque vitae elit. 
                                Mauris adipiscing mauris fringilla turpis interdum sed pulvinar nisi malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                            <a title="Read more" href="index.html%3Fpage=post.html" class="more">
                                Read more &rarr;
                            </a>
                            <div class="post_footer clearfix">
                                <ul class="post_footer_details">
                                    <li>Posted in</li>
                                    <li>
                                        <a href="index.html%3Fpage=blog.html#" title="General">
                                            General,
                                        </a>
                                    </li>
                                    <li>
                                        <a href="index.html%3Fpage=blog.html#" title="Outpatient surgery">
                                            Outpatient surgery
                                        </a>
                                    </li>
                                </ul>
                                <ul class="post_footer_details">
                                    <li>Posted by </li>
                                    <li>
                                        <a href="index.html%3Fpage=blog.html#" title="John Doe">
                                            John Doe
                                        </a>
                                    </li>
                                </ul>
                                <ul class="post_footer_details">
                                    <li>Post type </li>
                                    <li>
                                        <a href="index.html%3Fpage=blog.html#" title="Video">
                                            Video
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="post">
                        <ul class="comment_box clearfix">
                            <li class="date clearfix animated_element animation-slideRight">
                                <div class="value">11 DEC 12</div>
                                <div class="arrow_date"></div>
                            </li>
                            <li class="comments_number animated_element animation-slideUp duration-300 delay-500">
                                <a href="index.html%3Fpage=post.html#comments_list" title="3 comments">
                                    3 comments
                                </a>
                            </li>
                        </ul>
                        <div class="post_content">
                            <h2>
                                <a href="index.html%3Fpage=post.html" title="Lorem ipsum dolor sit amat velum">
                                    Lorem ipsum dolor sit amat velum
                                </a>
                            </h2>
                            <blockquote>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat rutrum eros amet sollicitudin interdum. 
                                Suspendisse pulvinar, velit nec pharetra interdum, ante tellus ornare mi, et mollis tellus neque vitae elit volutpat rutrum eros.
                            </blockquote>
                            <a title="Read more" href="index.html%3Fpage=post.html" class="more">
                                Read more &rarr;
                            </a>
                            <div class="post_footer clearfix">
                                <ul class="post_footer_details">
                                    <li>Posted in</li>
                                    <li>
                                        <a href="index.html%3Fpage=blog.html#" title="General">
                                            General,
                                        </a>
                                    </li>
                                    <li>
                                        <a href="index.html%3Fpage=blog.html#" title="Outpatient surgery">
                                            Outpatient surgery
                                        </a>
                                    </li>
                                </ul>
                                <ul class="post_footer_details">
                                    <li>Posted by </li>
                                    <li>
                                        <a href="index.html%3Fpage=blog.html#" title="John Doe">
                                            John Doe
                                        </a>
                                    </li>
                                </ul>
                                <ul class="post_footer_details">
                                    <li>Post type </li>
                                    <li>
                                        <a href="index.html%3Fpage=blog.html#" title="Quote">
                                            Quote
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="post">
                        <ul class="comment_box clearfix animated_element animation-slideRight">
                            <li class="date clearfix">
                                <div class="value">10 DEC 12</div>
                                <div class="arrow_date"></div>
                            </li>
                            <li class="comments_number animated_element animation-slideUp duration-300 delay-500">
                                <a href="index.html%3Fpage=post.html#comments_list" title="5 comments">
                                    5 comments
                                </a>
                            </li>
                        </ul>
                        <div class="post_content">
                            <h2>
                                <a target="_blank" href="http://themeforest.net/item/medicenter-responsive-medical-health-template/4000598?ref=House of Dentistry" title="Lorem ipsum dolor sit amat velum">
                                    Lorem ipsum dolor sit amat velum
                                </a>
                            </h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat rutrum eros amet sollicitudin interdum. 
                                Suspendisse pulvinar, velit nec pharetra interdum, ante tellus ornare mi, et mollis tellus neque vitae elit. 
                                Mauris adipiscing mauris fringilla turpis interdum sed pulvinar nisi malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                            <a title="Visit link" target="_blank" href="http://themeforest.net/item/medicenter-responsive-medical-health-template/4000598?ref=House of Dentistry" class="more" target="_blank">
                                Visit link &rarr;
                            </a>
                            <div class="post_footer clearfix">
                                <ul class="post_footer_details">
                                    <li>Posted in</li>
                                    <li>
                                        <a href="index.html%3Fpage=blog.html#" title="General">
                                            General,
                                        </a>
                                    </li>
                                    <li>
                                        <a href="index.html%3Fpage=blog.html#" title="Outpatient surgery">
                                            Outpatient surgery
                                        </a>
                                    </li>
                                </ul>
                                <ul class="post_footer_details">
                                    <li>Posted by </li>
                                    <li>
                                        <a href="index.html%3Fpage=blog.html#" title="John Doe">
                                            John Doe
                                        </a>
                                    </li>
                                </ul>
                                <ul class="post_footer_details">
                                    <li>Post type </li>
                                    <li>
                                        <a href="index.html%3Fpage=blog.html#" title="Link">
                                            Link
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="pagination page_margin_top">
                    <li class="selected">
                        <a href="index.html%3Fpage=blog.html#" title="">
                            1
                        </a>
                    </li>
                    <li>
                        <a href="index.html%3Fpage=blog.html#" title="">
                            2
                        </a>
                    </li>
                    <li>
                        <a href="index.html%3Fpage=blog.html#" title="">
                            3
                        </a>
                    </li>
                </ul>
            </div>
            <div class="page_right">
                <h3 class="box_header margin">
                    Categories
                </h3>
                <div class="sidebar_box first">
                    <ul class="categories clearfix page_margin_top">
                        <li>
                            <a href="index.html%3Fpage=blog.html#" title="General">
                                General
                            </a>
                        </li>
                        <li>
                            <a href="index.html%3Fpage=blog.html#" title="News">
                                News
                            </a>
                        </li>
                        <li>
                            <a href="index.html%3Fpage=blog.html#" title="Primary health">
                                Primary health
                            </a>
                        </li>
                        <li>
                            <a href="index.html%3Fpage=blog.html#" title="Pediatric clinic">
                                Pediatric clinic
                            </a>
                        </li>
                        <li>
                            <a href="index.html%3Fpage=blog.html#" title="Outpatient surgery">
                                Outpatient surgery
                            </a>
                        </li>
                        <li>
                            <a href="index.html%3Fpage=blog.html#" title="Cardiac clinic">
                                Cardiac clinic
                            </a>
                        </li>
                        <li>
                            <a href="index.html%3Fpage=blog.html#" title="Laryngological clinic">
                                Laryngological clinic
                            </a>
                        </li>
                        <li>
                            <a href="index.html%3Fpage=blog.html#" title="Health">
                                Health
                            </a>
                        </li>
                        <li>
                            <a href="index.html%3Fpage=blog.html#" title="Dental clinic">
                                Dental clinic
                            </a>
                        </li>
                        <li>
                            <a href="index.html%3Fpage=blog.html#" title="Ophthalmology clinic">
                                Ophthalmology clinic
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar_box">
                    <div class="clearfix">
                        <div class="header_left">
                            <h3 class="box_header">
                                Most Commented
                            </h3>
                        </div>
                        <div class="header_right">
                            <a href="index.html%3Fpage=blog.html#" id="most_commented_prev" class="scrolling_list_control_left icon_small_arrow left_black"></a>
                            <a href="index.html%3Fpage=blog.html#" id="most_commented_next" class="scrolling_list_control_right icon_small_arrow right_black"></a>
                        </div>
                    </div>
                    <div class="scrolling_list_wrapper">
                        <ul class="scrolling_list most_commented">
                            <li class="icon_small_arrow right_black">
                                <a href="index.html%3Fpage=post.html" class="clearfix">
                                    <span class="left">
                                        Mauris adipiscing mauris fringilla turpis interdum sed pulvinar nisi malesuada.
                                    </span>
                                    <span class="number">
                                        18
                                    </span>
                                </a>
                                <abbr title="29 May 2012" class="timeago">29 May 2012</abbr>
                            </li>
                            <li class="icon_small_arrow right_black">
                                <a href="index.html%3Fpage=post.html" class="clearfix">
                                    <span class="left">
                                        Lorem ipsum dolor sit amat velum.
                                    </span>
                                    <span class="number">
                                        16
                                    </span>
                                </a>
                                <abbr title="04 Apr 2012" class="timeago">04 Apr 2012</abbr>
                            </li>
                            <li class="icon_small_arrow right_black">
                                <a href="index.html%3Fpage=post.html" class="clearfix">
                                    <span class="left">
                                        Mauris adipiscing mauris fringilla turpis interdum sed pulvinar nisi malesuada.
                                    </span>
                                    <span class="number">
                                        9
                                    </span>
                                </a>
                                <abbr title="02 Feb 2012" class="timeago">02 Feb 2012</abbr>
                            </li>
                            <li class="icon_small_arrow right_black">
                                <a href="index.html%3Fpage=post.html" class="clearfix">
                                    <span class="left">
                                        Lorem ipsum dolor sit amat velum, consectetur adipiscing elit.
                                    </span>
                                    <span class="number">
                                        7
                                    </span>
                                </a>
                                <abbr title="24 Jan 2011" class="timeago">24 Jan 2011</abbr>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sidebar_box">
                    <div class="clearfix">
                        <div class="header_left">
                            <h3 class="box_header">
                                Most Viewed
                            </h3>
                        </div>
                        <div class="header_right">
                            <a href="index.html%3Fpage=blog.html#" id="most_viewed_prev" class="scrolling_list_control_left icon_small_arrow left_black"></a>
                            <a href="index.html%3Fpage=blog.html#" id="most_viewed_next" class="scrolling_list_control_right icon_small_arrow right_black"></a>
                        </div>
                    </div>
                    <div class="scrolling_list_wrapper">
                        <ul class="scrolling_list most_viewed">
                            <li class="icon_small_arrow right_black">
                                <a href="index.html%3Fpage=post.html" class="clearfix">
                                    <span class="left">
                                        Mauris adipiscing mauris fringilla turpis interdum sed pulvinar nisi malesuada.
                                    </span>
                                    <span class="number">
                                        423
                                    </span>
                                </a>
                                <abbr title="29 May 2012" class="timeago">29 May 2012</abbr>
                            </li>
                            <li class="icon_small_arrow right_black">
                                <a href="index.html%3Fpage=post.html" class="clearfix">
                                    <span class="left">
                                        Lorem ipsum dolor sit amat velum.
                                    </span>
                                    <span class="number">
                                        231
                                    </span>
                                </a>
                                <abbr title="04 Apr 2012" class="timeago">04 Apr 2012</abbr>
                            </li>
                            <li class="icon_small_arrow right_black">
                                <a href="index.html%3Fpage=post.html" class="clearfix">
                                    <span class="left">
                                        Mauris adipiscing mauris fringilla turpis interdum sed pulvinar nisi malesuada.
                                    </span>
                                    <span class="number">
                                        184
                                    </span>
                                </a>
                                <abbr title="02 Feb 2012" class="timeago">02 Feb 2012</abbr>
                            </li>
                            <li class="icon_small_arrow right_black">
                                <a href="index.html%3Fpage=post.html" class="clearfix">
                                    <span class="left">
                                        Lorem ipsum dolor sit amat velum, consectetur adipiscing elit.
                                    </span>
                                    <span class="number">
                                        97
                                    </span>
                                </a>
                                <abbr title="24 Jan 2011" class="timeago">24 Jan 2011</abbr>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sidebar_box">
                    <h3 class="box_header">
                        Photostream
                    </h3>
                    <ul class="photostream clearfix">
                        <li class="gallery_box">
                            <img src="images/samples/75x75/image_01.jpg" alt=""/>
                            <ul class="controls">
                                <li>
                                    <a href="images/samples/image_01.jpg" rel="photostream" class="fancybox open_lightbox"></a>
                                </li>
                            </ul>
                        </li>
                        <li class="gallery_box">
                            <img src="images/samples/75x75/image_02.jpg" alt=""/>
                            <ul class="controls">
                                <li>
                                    <a href="images/samples/image_02.jpg" rel="photostream" class="fancybox open_lightbox"></a>
                                </li>
                            </ul>
                        </li>
                        <li class="gallery_box">
                            <img src="images/samples/75x75/image_03.jpg" alt=""/>
                            <ul class="controls">
                                <li>
                                    <a href="images/samples/image_03.jpg" rel="photostream" class="fancybox open_lightbox"></a>
                                </li>
                            </ul>
                        </li>
                        <li class="gallery_box">
                            <img src="images/samples/75x75/image_04.jpg" alt=""/>
                            <ul class="controls">
                                <li>
                                    <a href="images/samples/image_04.jpg" rel="photostream" class="fancybox open_lightbox"></a>
                                </li>
                            </ul>
                        </li>
                        <li class="gallery_box">
                            <img src="images/samples/75x75/image_05.jpg" alt=""/>
                            <ul class="controls">
                                <li>
                                    <a href="images/samples/image_05.jpg" rel="photostream" class="fancybox open_lightbox"></a>
                                </li>
                            </ul>
                        </li>
                        <li class="gallery_box">
                            <img src="images/samples/75x75/image_06.jpg" alt=""/>
                            <ul class="controls">
                                <li>
                                    <a href="images/samples/image_06.jpg" rel="photostream" class="fancybox open_lightbox"></a>
                                </li>
                            </ul>
                        </li>
                        <li class="gallery_box">
                            <img src="images/samples/75x75/image_07.jpg" alt=""/>
                            <ul class="controls">
                                <li>
                                    <a href="images/samples/image_07.jpg" rel="photostream" class="fancybox open_lightbox"></a>
                                </li>
                            </ul>
                        </li>
                        <li class="gallery_box">
                            <img src="images/samples/75x75/image_08.jpg" alt=""/>
                            <ul class="controls">
                                <li>
                                    <a href="images/samples/image_08.jpg" rel="photostream" class="fancybox open_lightbox"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="sidebar_box">
                    <h3 class="box_header">
                        Archives
                    </h3>
                    <ul class="columns list clearfix">
                        <li class="column_left icon_small_arrow right_black">
                            <a href="index.html%3Fpage=blog.html#" title="April 2012">
                                April 2012
                            </a>
                        </li>
                        <li class="column_right icon_small_arrow right_black">
                            <a href="index.html%3Fpage=blog.html#" title="May 2012">
                                May 2012
                            </a>
                        </li>
                        <li class="column_left icon_small_arrow right_black">
                            <a href="index.html%3Fpage=blog.html#" title="June 2012">
                                June 2012
                            </a>
                        </li>
                        <li class="column_right icon_small_arrow right_black">
                            <a href="index.html%3Fpage=blog.html#" title="July 2012">
                                July 2012
                            </a>
                        </li>
                        <li class="column_left icon_small_arrow right_black">
                            <a href="index.html%3Fpage=blog.html#" title="August 2012">
                                August 2012
                            </a>
                        </li>
                        <li class="column_right icon_small_arrow right_black">
                            <a href="index.html%3Fpage=blog.html#" title="November 2012">
                                November 2012
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar_box">
                    <h3 class="box_header">
                        Make An Appointment
                    </h3>
                    <p class="info">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat rutrum eros sit amet sollicitudin.
                    </p>
                    <ul class="contact_data">
                        <li class="clearfix">
                            <span class="social_icon phone"></span>
                            <p class="value">
                                by phone: <strong>1-800-643-4300</strong>
                            </p>
                        </li>
                        <li class="clearfix">
                            <span class="social_icon mail"></span>
                            <p class="value">
                                by e-mail: <a href="mailto:medicenter@mail.com">medicenter@mail.com</a>
                            </p>
                        </li>
                        <li class="clearfix">
                            <span class="social_icon form"></span>
                            <p class="value">
                                or <a href="index.html%3Fpage=contact.html" title="Contact form">fill in the form</a> on our contact page
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>	
    
{% endblock content %}

{% block custom_js %}
    <script>
        $(document).ready(function(){
            $('#blog').addClass("selected")
        })
    </script>
{% endblock custom_js %}
    