{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>House of Dentistry</title>
		<!--meta-->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="keywords" content="Dentist, Dentistry, Nairobi, Kenya" />
		<meta name="description" content="House of Dentistry Website" />
        <!--style-->
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet"> 
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
        
        {% block custom_style %}
            
        {% endblock custom_style %}
            
		
	</head>
	<body class="body" style="font-family: 'Titillium Web', sans-serif;">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="w-100 order-1 order-md-0 dual-collapse2">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <a style="margin-left: 12rem;" class="navbar-brand" href="#">House Of Dentistry</a>
            </div>
            <!-- <div class="w-50 order-0 order-md-0 dual-collapse2">&nbsp;</div> -->
            <div class="collapse navbar-collapse w-100 order-0 dual-collapse2" id="navbarTogglerDemo03" style="text-align: right;">
                <a class="nav-item nav-link active" id="home" href="{% url 'home:home' %}">Home</a>         
                <a class="nav-item nav-link" id="about" href="{% url 'about:about' %}">About</a>         
                <a class="nav-item nav-link" id="services" href="{% url 'services:services' %}">Services</a>         
                <a class="nav-item nav-link" id="gallery" href="{% url 'gallery:gallery' %}">Gallery</a>         
                <a class="nav-item nav-link" id="patients" href="{% url 'patients:patients' %}">Resources</a>         
                <a class="nav-item nav-link" id="blog" href="{% url 'blog:blogs' %}">Blog</a>         
                <a class="nav-item nav-link" id="contacts" href="{% url 'contacts:contacts' %}">Contacts</a>         
            </div>
        </nav>
        <div class="content">
            
            {% block content %}
                
            {% endblock content %}
        </div>
              
    <!--js-->
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    
    {% block custom_js %}
        
    {% endblock custom_js %}

</div>
        
    </body>
</html>
                