{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="page relative">
        <div class="page_layout page_margin_top clearfix">
            <div class="page_header clearfix">
                <div class="page_header_left">
                    <h1 class="page_title">About</h1>
                    <ul class="bread_crumb">
                        <li>
                            <a href="{% url 'home:home'}" title="Home">
                                Home
                            </a>
                        </li>
                        <li class="separator icon_small_arrow right_gray">
                            &nbsp;
                        </li>
                        <li>
                            About
                        </li>
                    </ul>
                </div>
                <div class="page_header_right">
                    <form class="search">
                        <input class="search_input" type="text" value="To search type and hit enter..." placeholder="To search type and hit enter..." />
                    </form>
                </div>
            </div>
            <div class="clearfix">
                <div class="gallery_item_details_list clearfix page_margin_top">
                    <div class="gallery_item_details clearfix">
                        <div class="columns no_width">
                            <div class="column_left">
                                <div class="gallery_box">
                                    <ul class="image_carousel">
                                        <li class="current_slide">
                                            <img src="{{about.image_1.url}}" alt=""/>
                                            <ul class="controls">
                                                <li>
                                                    <a href="{{about.image_1.url}}" rel="gallery" class="fancybox open_lightbox"></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <img src="{{about.image_2.url}}" alt=""/>
                                            <ul class="controls">
                                                <li>
                                                    <a href="{{about.image_2.url}}" rel="gallery" class="fancybox open_lightbox"></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column_right">
                                <div class="details_box">
                                    <h2>
                                        {{about.title}}
                                    </h2>
                                    <p>
                                        {{about.content}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns page_margin_top full_width clearfix">
                    <h1 class="page_title">Why Choose Us</h1>
                    {% for reason in choose_us_reasons %}
                        <div class="clearfix">
                            <div class="row" style="margin-bottom: 3em;">
                                <div class="column_left"  style="width: 48%;overflow: hidden;">
                                    <a class="post_image" title="Lorem ipsum dolor sit amat velum">
                                        <img src="{{reason.image.url}}" alt="" style="width: 100%;" />
                                    </a>
                                </div>
                                <div class="column_right">
                                        <h2>
                                                <a title="Lorem ipsum dolor sit amat velum">
                                                    {{reason.heading}}}
                                                </a>
                                            </h2>
                                    <p>{{reason.content}}</p> 
                                </div>                                                             
                            </div>              
                        </div> 
                        <hr style="color: rgba(153, 176, 253, 0.411);">
                    {% endfor %}
                                             
                </div>
                <div class="clearfix page_margin_top_section">
                    <div class="header_left">
                            <h3 class="box_header">
                                Our Clinic in Pictures
                            </h3>
                        </div>
                        <div class="header_right">
                            <a href="index.html%3Fpage=home_2.html#" id="our_clinic_prev" class="scrolling_list_control_left icon_small_arrow left_black"></a>
                            <a href="index.html%3Fpage=home_2.html#" id="our_clinic_next" class="scrolling_list_control_right icon_small_arrow right_black"></a>
                        </div>
                    </div>
                    <ul class="gallery horizontal_carousel our_clinic">                    
                        {% for image in team_images %}
                        <li class="gallery_box">
                            <img src="{{image.url}}" alt="" />
                                
                            <div class="description">
                                <h5>
                                    {{image.caption}}
                                </h5>
                            </div>
                            <ul class="controls">
                                <li>
                                    <a href="{{image.url}}" rel="our_clinic" class="fancybox open_lightbox"></a>
                                </li>
                            </ul>
                        </li>
                    {% endfor %}                    
                </ul>
            </div>
        </div>
    </div>	
{% endblock content %}

{% block custom_js %}
    <script>
        $(document).ready(function(){
            $('#about').addClass("selected")
        })
    </script>
{% endblock custom_js %}
    
    