<div class="slideshow">
    
    {% for slide in slides %}
        <div class="slide">
            <div class="slide-image">
                {{ slide.image.url }}
            </div>
            <div class="slide-content">
                {{ slide.content }}
            </div>
        </div>
    {% empty %}
        <div class="slide" style="
            height: 40em;
            overflow: hidden;
            background-size: cover;
            background-position: center;
            background-image: url(/static/images/samples/480x300/image_01.jpg);">
            <div class="slide-content">
                <div class="" style="
                    margin-top: 5em;
                    margin-left: 12rem;
                    color: white;
                    ">
                        <!-- <h1 class="shadow-text" style="font-size: 6em;">Content</h1>
                        <h3 class="shadow-text" style="font-size: 2em;">Content Explained</h3>                                             -->
                </div>            
                <!-- <div class="info-blocks" style="display: flex; margin-bottom: 0;">
                    <div class="info-block">
                        <h1>Opening Hours</h1>
                    </div>
                    <div class="info-block">
                        <h1>Contacts</h1>
                    </div>
                </div>     -->
            </div>
        </div>
    {% endfor %}
        
    
    
</div>