{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="page relative">
        <div class="page_layout page_margin_top clearfix">
            <div class="page_header clearfix">
                <div class="page_header_left">
                    <h1 class="page_title">Services</h1>
                    <ul class="bread_crumb">
                        <li>
                            <a href="index.html%3Fpage=home.html" title="Home">
                                Home
                            </a>
                        </li>
                        <li class="separator icon_small_arrow right_gray">
                            &nbsp;
                        </li>
                        <li>
                            Services
                        </li>
                    </ul>
                </div>
                <div class="page_header_right">
                    <form class="search">
                        <input class="search_input" type="text" value="To search type and hit enter..." placeholder="To search type and hit enter..." />
                    </form>
                </div>
            </div>
            <div class="clearfix">
                <div class="columns page_margin_top full_width clearfix">
                        <div class="clearfix">
                            <div class="row" style="margin-bottom: 3em;">
                                <div class="column_lefts"  style="width: 80%;overflow: hidden;">
                                    <a class="post_image" href="index.html%3Fpage=post.html" title="Lorem ipsum dolor sit amat velum">
                                        <img src="{% static 'images/samples/520x240/image_03.jpg' %}" alt="" style="width: 100%;" />
                                    </a>
                                </div>
                                <div class="column_rights">
                                    <h2>
                                        <a href="index.html%3Fpage=post.html" title="Lorem ipsum dolor sit amat velum">
                                            {{service.heading}}
                                        </a>
                                    </h2>
                                    <div class="my-content">
                                        {{service.content}}
                                    </div> 
                                </div>                                                             
                            </div>              
                        </div> 
                        <hr style="color: rgba(153, 176, 253, 0.411);">                                             
                </div>
            </div>
        </div>
    </div>	
{% endblock content %}

{% block custom_js %}
    <script>
        $(document).ready(function(){
            $('#services').addClass("selected")
        })
    </script>
{% endblock custom_js %}
    
    